/*Be sure to look into browser prefixes for keyframes and annimations*/
.text-flash-animation {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes text-flash-animation {
    from {color: red;}
    to {color: black;}
}